# IntelliJ IDEA
.idea/                          # komplette IDE-Configs ignorieren
*.iml                           # Module-Dateien ignorieren
out/                            # Output-Ordner (Build-Artefakte)
# Python virtual environments
.venv/
venv/
ENV/
env/
# Sensible Daten / API-Keys
secrets/
*.key
*.env
# Python bytecode
__pycache__/
*.py[cod]
# Project
/secrets/
/case/
/input/
/output/
*.log
.mypy_cache/
.pytest_cache/
dist/
build/
*.egg-info/
Pipfile.lock
/.idea/jupyter-settings.xml
/.idea/logging-forensic.iml
